/*
Going to redo this all, terrible understanding of element locations with current names
*/

header {
    background-color: #1f2937;
    color: #f9faf8;
}

.header-right {
    text-align: right;
}

footer {
    background-color: #1f2937;
}

button {
    color: #f9faf8;
    background-color: #3882F6;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero-top {
    font-size: 48px;
    font-weight: bolder;
}

.hero-bottom {
    font-size: 18px;
    color: #e5e7eb;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
}

.contact {
    background-color: #3882F6;
    color: #f9faf8;
}

h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}